*.bbl
*.blg
*.log
*.tex.bak
*.bak
*.log
.DS*
.DS_Store
*.toc
*.out
*.nav
*.aux
*.snm
*.*.backup
*.synctex.gz
*.zip
*.lof
*.lot
*.out
*.syx
*.abx
*.swo
*.swp
*.swn
*.swm
*.tex~
*.bbl~
*.lof~
*.m~
*.glo
